/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* @media screen and (max-width: 768px) {
    body {
        font-size: 1vh;
    }
} */

/* Links */
a {
    text-decoration: none;
    color:white;
    cursor: pointer;
}

/* Imagens responsivas */
img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 1.3vw;
}

p {
    font-size: 1vw;
}

@media screen and (max-width: 1160px) {
    p {
        font-size: 1.3vw;
    }

    h2 {
        font-size: 1.6vw;
    }
}

@media screen and (max-width: 770px) {
    p {
        font-size: 1.5vw;
    }

    h2 {
        font-size: 1.9vw;
    }
}

/* Variáveis CSS */
:root {
    --cor-primaria:  #3c4a90;
    --cor-secundaria: #ff9800;
    --cor-button: #6A5ACD;
    --cor-gray: #C0C0C0;
    --espacamento: 1rem;
}

/* Layout Responsivo */
@media screen and (max-width: 768px) {
/* Estilos para telas menores que 768 pixels */
}

@media screen and (max-width: 576px) {
/* Estilos para telas menores que 576 pixels */
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: #3c4a90;
    color: #fff;
    padding: 14px;

    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    z-index: 999;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.menu-container {
    display: flex;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container a:hover {
    color: #F7C6A1;
}

.icon-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.icon-container i:hover {
    color: #F7C6A1;
}

/* SECTION SLIDE */

.slide-container {
    padding-top: 10vh;
    width: 100%;
    height: 68vh;
    margin-top: 2px;
}

.carousel-cell {
    width: 70%;
    height: 55vh;
    margin-right: 2px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
}

/* INFO  */

.info-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 40vh;
    margin-top: 12px;
}

.image-info {
    width: 60%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.more-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 42%;
    height: 90%;

    font-family: 'Montserrat', sans-serif;

    h3 {
        font-size: small;
    }
   
}

.text-div {
    width: 66%;
    margin-top: 8px;
}

.div-button {
    display: flex;
}

.button-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 14%;
    padding: 10px;
    background-color: white;
    color: var(--cor-button);
    border: solid 1px var(--cor-button);
    border-radius: 4px;
    font-size: 0.8vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 22px;
    text-align: center;
}

.button-contain:hover {
    color: white;
    background-color: var(--cor-button);
}

@media screen and (max-width: 768px) {
    .info-container {
        flex-direction: column; 
    }

    .image-info {
        width: 100%; 
        height: 30vh;
    }

    .more-info {
        width: 100%; 
        padding: 0 20px; 
        align-items: center; 
        text-align: center;
    }

    .button-contain {
        width: 40%; 
        margin-top: 16px;
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 1160px) {
    .button-contain {
        font-size: 1.4vw;
        width: 40%;
    }
}


.shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 100%;
    height: 50vh;
    margin-top: 50px;
}

.header-shop {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 80%;
    height: 100%;
    /* background-color: #ff9800; */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px); /* Deslocamento vertical para cima (levemente para frente) */
    box-shadow: 0 4px 8px var(--cor-gray);
    border-radius: 10px;
}

.card img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 8px;
}

.footer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 100%;
    height: 10%;
    font-family: 'Montserrat', sans-serif;
}

.adote-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
    min-height: 50vh;
    background-color: #F7C6A1;
}

.container-ado {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    width: 84%;
    height: 100%;
    background-color: #C0C0C0;
    gap: 2rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    width: 30%;
    background-color: #6A5ACD;
}

.imagem-adt {
    width: 90%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.dog-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    border-radius: 8px;
    background-size: contain;
    background-position: left center;
    background-color: green;
    background-repeat: no-repeat;
}

.dog-container-info {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 20%; /* Defina a largura desejada para o dog-container-info */
}
  


