/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Links */
a {
    text-decoration: none;
    color:white;
    cursor: pointer;
}

/* Imagens responsivas */
img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 1.3vw;
}

p {
    font-size: 1vw;
}

@media screen and (max-width: 1160px) {
    p {
        font-size: 1.3vw;
    }

    h2 {
        font-size: 1.6vw;
    }
}

@media screen and (max-width: 770px) {
    p {
        font-size: 1.6vw;
    }

    h2 {
        font-size: 1.9vw;
    }
}

/* Variáveis CSS */
:root {
    --cor-primaria:  #3c4a90;
    --cor-secundaria: #ff9800;
    --cor-button: #6A5ACD;
    --cor-gray: #C0C0C0;
    --cor-grayfundo: #DCDCDC;
    --cor-fundtext:#E6E6FA;
    --espacamento: 1rem;
}



/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: #3c4a90;
    color: #fff;
    padding: 14px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 999;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.menu-container {
    display: flex;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container a:hover {
    color: #F7C6A1;
}

.icon-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.icon-container i:hover {
    color: #F7C6A1;
}

.fa-bars {
    font-size: 3.2vw;
    display: none;
}

.bar {
    width: 24px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
}

.menu-mobile {
    display: none; /* Inicialmente, o menu mobile estará oculto */
    flex-direction: column;
    gap: 2rem; /* Adicione um espaçamento entre os links do menu mobile, se necessário */
}

.menu-mobile-container {
    display: none;
    position: absolute;
   
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 760px) {
    /* Mostra o container com o ícone do menu mobile e o menu mobile quando a tela for menor que 760px */
    .header {
        display: flex;
        justify-content: space-between;
    }

    .fa-bars {
        font-size: 7vw;
        display: flex;
    }

    .menu-mobile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 1rem;
        cursor: pointer;
        margin-top: 1.5rem;

        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu-container {
        display: none;
    }

    .menu-mobile.active {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 1rem;
        border-radius: 8px;
        background-color: var(--cor-primaria);
        width: 100vw;
        min-height: 100%; /* Alteramos de 100vh para 100% */
        animation: fadeInFromTop 0.5s ease;
        overflow: hidden; /* Adicionamos overflow para esconder os itens que ultrapassarem o container */
    }
    .menu-mobile a:hover {
        color: var(--cor-secundaria);
    }

    .menu-mobile a {
        opacity: 0;
        animation: none;
    }


    .menu-mobile.active a:nth-child(1) {
        animation: fadeInFromTop 0.5s ease forwards;
        animation-delay: 0.3s;
    }
    
    .menu-mobile.active a:nth-child(2) {
        animation: fadeInFromTop 0.5s ease forwards;
        animation-delay: 0.5s;
    }
    
    .menu-mobile.active a:nth-child(3) {
        animation: fadeInFromTop 0.5s ease forwards;
        animation-delay: 0.7s;
    }
    
    .menu-mobile.active a:nth-child(4) {
        animation: fadeInFromTop 0.5s ease forwards;
        animation-delay: 0.9s;
    }

    .buttoncontato {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34%;
        height: 14%;
        padding: 10px;
        background-color: white;
        color: var(--cor-button);
        border: solid 1px var(--cor-button);
        border-radius: 4px;
        font-size: 2vw;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 22px;
        text-align: center;
    }

    .buttoncontato:hover {
        background-color: var(--cor-button);
        color: white;
    }

    .icon-container {
        display: none;
        width: 24%;
    }
}

@media screen and (max-width: 500px) {
    .buttoncontato {
        font-size: 3vw;
        width: 60%;
    }
    
}

/* SECTION SLIDE */

.slide-container {
    padding-top: 10vh;
    width: 100%;
    height: 68vh;
    margin-top: 2px;
}

.carousel-cell {
    width: 70%;
    height: 55vh;
    margin-right: 2px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
}

/* INFO  */

.info-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 40vh;
    margin-top: 12px;
}

.image-info {
    width: 60%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.more-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 42%;
    height: 90%;

    font-family: 'Montserrat', sans-serif;

    
   
}

.text-div {
    width: 66%;
    margin-top: 8px;
}

.div-button {
    display: flex;
}

.button-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
    height: 14%;
    padding: 10px;
    background-color: white;
    color: var(--cor-button);
    border: solid 1px var(--cor-button);
    border-radius: 4px;
    font-size: 0.8vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 22px;
    text-align: center;
}


.button-contain:hover {
    color: white;
    background-color: var(--cor-button);
}

@media screen and (max-width: 1160px) {
    .button-contain {
        font-size: 1.4vw;
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .info-container {
        flex-direction: column; 
    }

    .image-info {
        width: 100%; 
        height: 30vh;
    }

    .more-info {
        width: 100%; 
        padding: 0 20px; 
        align-items: center; 
        text-align: center;
    }

    .button-contain {
        width: 40%; 
        margin-top: 16px;
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 500px) {
    .info-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .image-info {
        display: none;
    }

    .more-info {
        width: 80%;
    }

    .text-div {
        width: 100%;
        font-size: 3vw;
    }

    .button-contain {
        font-size: 3vw;
        width: 70%;
    }


}



.shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 100%;
    height: 50vh;
    margin-top: 50px;
}

.header-shop {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 80%;
    height: 100%;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.button-containAdot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34%;
    height: 14%;
    padding: 10px;
    background-color: white;
    color: var(--cor-button);
    border: solid 1px var(--cor-button);
    border-radius: 4px;
    font-size: 0.8vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 22px;
    text-align: center;
    
}

.button-containAdot:hover {
    background-color: var(--cor-button);
    color: white;
}

@media screen and (max-width: 1190px) {
    /* Ajusta o espaçamento entre as seções */
    .slide-container,
    .shop-container,
    .adote-container {
        /* padding-top: 5vh; */
        height: 70vh;
    }

    /* Ajusta o tamanho e o espaçamento entre os cards */
    .container-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .card {
        width: 100%;
        max-width: 100%;
        gap: 12px;
    }

    .text-container {
        width: 100%;
    }

    .button-containAdot {
        font-size: 1.3vw;
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .button-containAdot {
        font-size: 2.8vw;
        width: 50%;
    }
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px var(--cor-gray);
    border-radius: 10px;
}

.card img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 8px;
}

.footer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 100%;
    height: 10%;
    font-family: 'Montserrat', sans-serif;
}

.adote-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    min-height: 50vh;
    font-family: 'Montserrat', sans-serif;
}

.container-ado {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 84%;
    height: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 35%;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
}

.imagem-adt {
    width: 90%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.dog-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 775px) {
    .text-container {
        width: 60%;
    }
    .dog-container {
        justify-content: flex-start;
        width: 100%;
        background-size: contain;
    }

    .adote-container {
        min-height: 100vh;
    }

    .imagem-adt {
        width: 100%;
        max-height: 100%; 
    }
}

@media screen and (max-width: 500px) {
    p {
        font-size: 2vw;
    }

    h2 {
        font-size: 2.3vw;
    }


}

.dog-container-info {
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 30%; /* Defina a largura desejada para o dog-container-info */
}

/* Ajustes para telas menores que 1200px */
/* Ajustes para telas menores que 1200px */
@media screen and (max-width: 1200px) {
    .adote-container {
        flex-direction: column;
        gap: 40px;
    }

    .container-ado {
        flex-direction: column;
        align-items: center;
    }

    .text-container {
        width: 80%;
        text-align: center;
    }

    .dog-container {
        width: 100%;
        height: 50vh; /* Ajuste a altura das imagens conforme desejado */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .imagem-adt {
        width: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .dog-container-info {
        padding: 8px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        width: 30%; 
        position: absolute;
        bottom: 20px;
        left: 10%;
    }
}

@media screen and (max-width: 500px) {
    p {
        font-size: 3vw; /* Ajuste o valor conforme desejado */
    }

    h2 {
        font-size: 3.3vw;
    }
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--cor-fundtext); */
    font-family: 'Montserrat', sans-serif;
    margin-top: 5rem;

    max-height: 40vh;
}

.about-content {
    max-width: 66%;
    /* margin-left: 1rem;
    margin-left: 1rem; */
    text-align: left;
    max-height: 40vh;
    border-radius: 6px;
    background-color: var(--cor-fundtext);
    padding: 10px;
}

.about-content h2 {
    font-size: 2.5rem;
}

.about-content p {
    font-size: 1.2rem;
    line-height: 1.6;
}

@media screen and (max-width: 1200px) {
    .about-container {
        flex-direction: column;
        gap: var(--espacamento);
    }

    .about-content {
        width: 100%;
    }

    .about-content h2 {
        font-size: 2rem;
    }

    .about-content p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1190px) {
    .about-container {
        margin-top: 6rem;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .about-content h2 {
        font-size: 1.8vw;
    }

    .about-content p {
        font-size: 1.5vw;
    }

    .about-container {
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .about-content h2 {
        font-size: 4vw;
    }

    .about-content p {
        font-size: 3vw;
    }
}





