/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* @media screen and (max-width: 768px) {
    body {
        font-size: 1vh;
    }
} */

/* Links */
a {
    text-decoration: none;
    color:white;
    cursor: pointer;
}

/* Imagens responsivas */
img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 1.3vw;
}

p {
    font-size: 1vw;
}

@media screen and (max-width: 1160px) {
    p {
        font-size: 1.3vw;
    }

    h2 {
        font-size: 1.6vw;
    }
}

@media screen and (max-width: 770px) {
    p {
        font-size: 1.6vw;
    }

    h2 {
        font-size: 1.9vw;
    }
}

/* Variáveis CSS */
:root {
    --cor-primaria:  #3c4a90;
    --cor-secundaria: #ff9800;
    --cor-button: #6A5ACD;
    --cor-gray: #C0C0C0;
    --cor-grayfundo: #DCDCDC;
    --espacamento: 1rem;
}

/* Layout Responsivo */
@media screen and (max-width: 768px) {
/* Estilos para telas menores que 768 pixels */
}

@media screen and (max-width: 576px) {
/* Estilos para telas menores que 576 pixels */
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: #3c4a90;
    color: #fff;
    padding: 14px;

    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    z-index: 999;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.menu-container {
    display: flex;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container a:hover {
    color: #F7C6A1;
}

.icon-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.icon-container i:hover {
    color: #F7C6A1;
}

.hamburger-icon {
    display: none;
    cursor: pointer;
    position: relative;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
}

.bar {
    width: 24px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
}

.menu-mobile {
    display: none; /* Inicialmente, o menu mobile estará oculto */
    flex-direction: column;
    gap: 2rem; /* Adicione um espaçamento entre os links do menu mobile, se necessário */
}

.menu-mobile-container {
    display: none;
    position: absolute;
   
}

@media screen and (max-width: 760px) {
    /* Mostra o container com o ícone do menu mobile e o menu mobile quando a tela for menor que 760px */
    .menu-mobile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Esconde o menu-container original quando a tela for menor que 760px */
    .menu-container {
        display: none;
    }

    /* Mostra o ícone do menu mobile quando a tela for menor que 760px */
    .hamburger-icon {
        display: flex;
        flex-direction: column;
        align-items: center; /* Adicione alinhamento vertical ao ícone */
        justify-content: center; /* Adicione alinhamento horizontal ao ícone */
        
    }

    /* Mostra o menu mobile quando a classe 'active' estiver presente */
    .menu-mobile.active {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 1rem;
        border-radius: 8px;
        background-color: var(--cor-primaria);
    }
    .menu-mobile a:hover {
        color: var(--cor-secundaria);
    }
}

@media screen and (max-width: 300px) {
    .header {
        gap: 4rem;
    }
    
}

/* SECTION SLIDE */

.slide-container {
    padding-top: 10vh;
    width: 100%;
    height: 68vh;
    margin-top: 2px;
}

.carousel-cell {
    width: 70%;
    height: 55vh;
    margin-right: 2px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
}

/* INFO  */

.info-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 40vh;
    margin-top: 12px;
}

.image-info {
    width: 60%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 500px) {
    .image-info {
        display: none;
    }

    .info-container {
        margin-top: 70px;
    }

}



.more-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 42%;
    height: 90%;

    font-family: 'Montserrat', sans-serif;

    h3 {
        font-size: small;
    }
   
}

.text-div {
    width: 66%;
    margin-top: 8px;
}

.div-button {
    display: flex;
}

.button-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
    height: 14%;
    padding: 10px;
    background-color: white;
    color: var(--cor-button);
    border: solid 1px var(--cor-button);
    border-radius: 4px;
    font-size: 0.8vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 22px;
    text-align: center;
}

.button-contain:hover {
    color: white;
    background-color: var(--cor-button);
}

@media screen and (max-width: 768px) {
    .info-container {
        flex-direction: column; 
    }

    .image-info {
        width: 100%; 
        height: 30vh;
    }

    .more-info {
        width: 100%; 
        padding: 0 20px; 
        align-items: center; 
        text-align: center;
    }

    .button-contain {
        width: 40%; 
        margin-top: 16px;
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 1160px) {
    .button-contain {
        font-size: 1.4vw;
        width: 40%;
    }
}


.shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 100%;
    height: 50vh;
    margin-top: 50px;
}

.header-shop {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 80%;
    height: 100%;
    /* background-color: #ff9800; */
}

/* @media screen and (max-width: 776px) {
    .container-card {
        gap: 0;
    }

    .button-contain {
        font-size: 1.7vw;
        width: 40%;
        height: 20%;
    }

    
} */

@media screen and (max-width: 456px) {
    .button-contain {
        font-size: 2.2vw;
        width: 34%;
        height: 20%;
    }
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

@media screen and (max-width: 776px) {
    /* Ajusta o espaçamento entre as seções */
    .slide-container,
    .shop-container,
    .adote-container {
        /* padding-top: 5vh; */
        height: 70vh;
    }

    /* Ajusta o tamanho e o espaçamento entre os cards */
    .container-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .card {
        width: 100%;
        max-width: 100%;
        gap: 12px;
    }

    /* Ajusta o tamanho dos botões dentro dos cards */
    .button-contain {
        font-size: 2vw;
        width: 100%;
        height: 15%;
    }

    /* Ajusta o tamanho da fonte no container de texto */
    .text-container {
        width: 100%;
    }
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px var(--cor-gray);
    border-radius: 10px;
}

.card img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 8px;
}

.footer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 100%;
    height: 10%;
    font-family: 'Montserrat', sans-serif;
}

.adote-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    min-height: 50vh;
    font-family: 'Montserrat', sans-serif;
}

.container-ado {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 84%;
    height: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 35%;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
}

.imagem-adt {
    width: 90%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.dog-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 775px) {
    .text-container {
        width: 60%;
    }
    .dog-container {
        justify-content: flex-start;
        width: 100%;
        background-size: contain;
    }

    .adote-container {
        min-height: 100vh;
    }

    .imagem-adt {
        width: 100%;
        max-height: 100%; 
    }
}

@media screen and (max-width: 500px) {
    p {
        font-size: 2vw;
    }

    h2 {
        font-size: 2.3vw;
    }


}

.dog-container-info {
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 30%; /* Defina a largura desejada para o dog-container-info */
}
